<md-list-item>
  <md-checkbox class="task-item__checkbox" md-list-icon [checked]="task.attributes.isCompleted" (change)="toggle.emit()"></md-checkbox>
  <div md-line>
    <div class="task-item__title" (click)="edit()">{{task.attributes.title}}</div>
    <md-input-container class="task-item__input">
      <input
        #input
        mdInput
        [(ngModel)]="editText"
        (blur)="submit()"
        (keyup.enter)="submit()"
        (keyup.escape)="cancel()">
    </md-input-container>
  </div>
  <button class="task-item__destroy" md-icon-button (click)="destroy.emit()"><md-icon>delete</md-icon></button>
</md-list-item>
<md-divider></md-divider>
